{{room.name}}
{{room.description|truncatewords:20|safe}}
Total Participants : {{room.participants.}}
<div class="container">
    <h2>convo</h2>
    <hr>
    {% for message in room_messages %}
        <div>
        <small>@{{message.user.first_name}} {{message.created|timesince}}</small>
        <p>{{message.body}}</p>
        <hr>
        </div>
    {% endfor %}
    <div>
        <form action="" method="post">
            {% csrf_token%}
            <input type="text" name="body" placeholder="Write your message here...">
        </form>
    </div>
</div>