Hi! {{request.user.first_name}}
{% if request.user.is_superadmin %}
<a href="{% url 'create_room' %}">create room</a>
{% endif %}

{% for room in rooms %}
{% if request.user.is_superadmin %}
<a href="{% url 'update_room' room.id %}">edit</a>
<a href="{% url 'delete_room' room.id %}">delete</a>
{% endif %}
<div>
    <div>
        <div>
            <span>{{room.created|timesince}} ago</span>
        </div>
    </div>
    <div>
        <a href="{% url 'room' room.id %}">{{room.name}}</a>
    </div>
    <div>
        <a href="{% url 'room' room.id %}">
            {{room.participants.all.count}} Joined
        </a>
        <!-- <p class="roomListRoom__topic"></p> -->
    </div>
</div>
<br>
{% endfor %}