{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block base %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit"
                    class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
                  >
                    Submit
                  </button>
    </form>
</div>
{% endblock base %}